<div class="card text-center animated fadeIn">
    <div class="card-header">
      Registrar una entrada
    </div>
    <div class="card-body">
      <h5 class="card-title">Escanea el codigo de barras del disposito</h5>
      <input type="text" class="form-control" name="codebar" id="codebar" placeholder="Codigo de barras">

      <button class="btn btn-primary m-2" >Registrar entrada</button>
    </div>
    <div class="card-footer text-muted">
      No compartiremos tus datos con nadie mas
    </div>
  </div>