<div class="card text-center animated fadeIn">
    <div class="card-header">
      Menu de gestión de Clientes
    </div>
    <div class="card-body">
      <div class="text-left">
        <a href="" [routerLink]="['/MainMenu']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-secondary">
          <i class ="fa fa-arrow-circle-left"></i>
        </button>
      </a>
      </div>
        <div class="row m-1">

            <div class="card text-white bg-secondary mb-3 m-2"  style="width: 21rem;">
                <div class="card-header"><i class="fa fa-user"> </i><i class="fa fa-plus ml-2"></i>  </div>
                <div class="card-body">
                  <h5 class="card-title">Nuevo Cliente</h5>
                  <a href="" [routerLink]="['/NewCliente']" routerLinkActive="router-link-active"   routerLinkActive="router-link-active" ><button class="btn btn-light" ><i class ="fa fa-arrow-circle-right"></i></button></a>
                </div>
            </div>

            <div class="card text-white bg-secondary mb-3 m-2"  style="width: 21rem;">
              <div class="card-header"><i class="fa fa-plus"></i>  </div>
              <div class="card-body">
                <h5 class="card-title">Asignar/ Crear dispositivo</h5>
                <a href="" [routerLink]="['/NewDispositivo']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ><button class="btn btn-light" ><i class ="fa fa-arrow-circle-right"></i></button></a>
              </div>
          </div>

            

             
              


        </div>

    </div>
    <div class="card-footer text-muted">
      Recuerda que tus datos no seran compartidos con alguien mas
    </div>
  </div>