<div class="card text-center animated fadeIn">
    <div class="card-header">
      Menu principal
    </div>
    <div class="card-body">
    
        <div class="row m-1">

            <div class="card text-white bg-secondary mb-3 m-2"  style="width: 21rem;">
                <div class="card-header"><i class="fas fa-wrench"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Registrar entrada</h5>
                  <a href="" [routerLink]="['/Entry']" routerLinkActive="router-link-active" ><button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button></a>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-wrench"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Registrar diagnostico y servicios</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-wrench"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Registrar terminados o salida de mantenimiento</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-motorcycle"></i> <i class ="fas fa-cog ml-2"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Registrar visita de mantenimiento</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-user-cog"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Administrar usuarios</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-clipboard-list "> </i> <i class="fas fa-truck-loading ml-2"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Gestionar programados a entrega</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-truck"></i> <i class="fas fa-check ml-2"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Confirmar entregas</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

              <div class="card text-white bg-secondary mb-3 m-2" style="width: 21rem;">
                <div class="card-header"><i class="fas fa-list"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Reportes</h5>
                  <button class="btn btn-light" ><i class ="fas fa-arrow-circle-right"></i></button>
                </div>
              </div>

             
              


        </div>

    </div>
    <div class="card-footer text-muted">
      Recuerda que tus datos no seran compartidos con alguien mas
    </div>
  </div>